<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: 'Home'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>
    <main class="section content">
      <h1>Hola <%= name %>!</h1>

      <div>
        <h2>Lista de frutas</h2>
        <ul>
          <% fruits.forEach(fruit => { %>
          <li><%= fruit %></li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
