<!DOCTYPE html>
<html lang="es">
  <%- include('includes/head.ejs', {title: 'Lab1'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>
    <link rel="stylesheet" href="/css/style.min.css" />
    <header class="header">
      <h1 class="header--title">Ricardo Fernández</h1>
    </header>

    <main>
      <section class="container">
        <h2 class="container--header">
          ¡Hola! Soy Ricardo Fernández, estudiante de ITC en el Tec de
          Monterrey.
        </h2>
        <p class="container--text">
          Desde pequeño conocí los videojuegos, lo que más tarde en la
          secundaria, me llevó a querer crearlos. Esto, a su vez, llevo a,
          eventualmente, querer programarlos, y así fue como descubrí esto que
          me gustó mucho.
        </p>

        <p class="container--text">
          He trabajado en un par de proyectos web freelance, uno como becario y
          otro por parte del servicio social, además de que cuento con
          experiencia en el campo laboral, pues trabajé como tester de software
          en General Electric Aerospace 6 meses.
        </p>

        <p class="container--text">
          A parte de los ya mencionados videojuegos, me gusta mucho la música.
          Actualmente toco la guitarra y las cuerdas en general.
        </p>
      </section>
      <section class="container__second">
        <h2 class="container--header">Preguntas</h2>
        <ol start="1">
          <li class="list-item">
            ¿Cuál es la diferencia entre Internet y la World Wide Web?
            <p class="list-item--answer">
              El internet es el conjunto de computadoras conectadas en todo el
              mundo, mientras que la WWW es la colección de páginas de internet
            </p>
          </li>
          <li class="list-item">
            ¿Cuáles son las partes de un URL?
            <p class="list-item--answer">
              El URL tiene protocolo, servicio, dominio, tipo/país, ruta y
              parámetros.
            </p>
          </li>
          <li class="list-item">
            ¿Cuál es el propósito de los métodos HTTP: GET, HEAD, POST, PUT,
            PATCH, DELETE?

            <ul class="list--sublist">
              <li class="list-item">
                GET: Solicita algún recurso al servidor. Únicamente trae
                información.
              </li>
              <li class="list-item">
                HEAD: Pide únicmaente el encabezado de la respuesta.
              </li>
              <li class="list-item">
                POST: Envía algún tipo de recurso al servidor.
              </li>
              <li class="list-item">
                PUT: Reemplaza algún recurso en el servidor
              </li>
              <li class="list-item">
                PATCH: Realiza modificaciones parciales a algún recurso en el
                servidor.
              </li>
              <li class="list-item">
                DELETE: Elimina algún recurso del servidor.
              </li>
            </ul>
          </li>
          <li class="list-item">
            ¿Qué método HTTP se debe utilizar al enviar un formulario HTML, por
            ejemplo cuando ingresas tu usuario y contraseña en algún sitio? ¿Por
            qué?
            <p class="list-item--answer">
              POST. Para poder mandar la información al servidor y que éste
              compare la información para realizar la autenticación.
            </p>
          </li>
          <li class="list-item">
            ¿Qué método HTTP se utiliza cuando a través de un navegador web se
            accede a una página a través de un URL?
            <p class="list-item--answer">
              GET. Esto dado que se hace la solicitud al servidor para traer la
              información de la página.
            </p>
          </li>
          <li class="list-item">
            Un servidor web devuelve una respuesta HTTP con código 200. ¿Qué
            significa esto? ¿Ocurrió algún error?
            <p class="list-item--answer">
              Significa que todo salió bien y no hay ningún error.
            </p>
          </li>
          <li class="list-item">
            ¿Es responsabilidad del desarrollador corregir un sitio web si un
            usuario reporta que intentó acceder al sitio y se encontró con un
            error 404? ¿Por qué?
            <p class="list-item--answer">
              No. Lo más probable es que el usuario esté intentando acceder a
              algún recurso prohibido o que no existe.
            </p>
          </li>
          <li class="list-item">
            ¿Es responsabilidad del desarrollador corregir un sitio web si un
            usuario reporta que intentó acceder al sitio y se encontró con un
            error 500? ¿Por qué?
            <p class="list-item--answer">
              Sí. Algún error en el servidor o en el código del sitio web a la
              hora de desplegarse pudo haber causado el error.
            </p>
          </li>
          <li class="list-item">
            ¿Qué significa que un atributo HTML5 esté depreciado o desaprobado
            (deprecated)? Menciona algunos elementos de HTML 4 que en HTML5
            estén desaprobados.
            <p class="list-item--answer">
              Quiere decir que ya no son soportados por HTML5 y que son más
              fáciles de controlar a través de estilos. Algunos ejemplos son:
              acronym, applet, basefont, big, center, dir, font, frame,
              frameset, isindex, noframes, strike, tt, u.
            </p>
          </li>
          <li class="list-item">
            ¿Cuáles son las diferencias principales entre HTML 4 y HTML5?
            <p class="list-item--answer">
              Principalmente la adición de nuevas tags y atributos, así como la
              más fácil declaración de tipo de documento y el uso de mejor
              almacenamiento local.
            </p>
          </li>
          <li class="list-item">
            ¿Qué componentes de estructura y estilo tiene una tabla?
            <p class="list-item--answer">
              Table (table), Table Row (tr), Table Data (td), Table Header (th).
              En HTML5, tenemos también Table Caption (caption), Table Header
              Group (thead), Table Footer Group (tfoot), Table Body (tbody).
            </p>
          </li>
          <li class="list-item">
            ¿Cuáles son los principales controles de una forma HTML5?
            <p class="list-item--answer">
              Input, Button, Textarea, Select, Option.
            </p>
          </li>
          <li class="list-item">
            Mi navegador cuenta con 468/555 puntos (Safari)
          </li>
          <li class="list-item">
            El Ciclo de Vida de Desarrollo de Software, hace referencia al
            proceso de planificar, crear, probar, desplegar y mantener Software.
          </li>
          <li class="list-item">
            Como ingeniero de software ¿cuál es tu recomendación sobre el uso de
            !important en un CSS?
            <p class="list-item--answer">
              Usarlo únicamente cuando sea realmente necesario y no contar con
              la declaración, dado que hacerlo podría causar problemas de
              legibilidad.
            </p>
          </li>
          <li class="list-item">
            Si se pone una imagen de fondo en una página HTML, ¿por qué debe
            escogerse con cuidado?
            <p class="list-item--answer">
              Porque puede afectar la legibilidad del resto de elementos, además
              de que puede hacer que la página tarde más en cargar.
            </p>
          </li>
          <li class="list-item">
            Como ingeniero de software, ¿cuál es tu recomendación al elegir las
            unidades de un propiedad de estilo entre %, px y pt?
            <p class="list-item--answer">
              La responsividad de la página y la precisión de las medidas de los
              elementos.
            </p>
          </li>
          <li class="list-item">
            ¿Por qué el uso de una versión minimizada del CSS mejora el
            rendimiento del sitio?
            <p class="list-item--answer">
              Porque reduce la cantidad de bytes que se deben de mandar por el
              internet, aumentando la velocidad de respuesta.
            </p>
          </li>
        </ol>
      </section>
    </main>

    <footer class="footer">
      <p>
        Hecho con
        <a href="https://code.visualstudio.com" target="_blank"
          >Visual Studio Code</a
        >
      </p>
    </footer>
  </body>
</html>
