<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: 'Password Validator'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>
    <nav class="navbar is-spaced">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="#" class="navbar-item">Password Validator</a>
          <a href="/labs/lab6/shop" class="navbar-item">Shop</a>
          <a href="/labs/lab6/questions" class="navbar-item">Questions</a>
        </div>
      </div>
    </nav>
    <main class="columns content my-3">
      <div class="column is-three-fifths is-offset-one-fifth">
        <h1>Password validator</h1>
        <p>
          Create a password that is at least 8 characters long, has a number,
          has an uppercase letter and a special character
        </p>
        <form>
          <input
            class="input is-big my-3"
            id="password"
            type="password"
            placeholder="Enter password"
          />
          <input
            class="input is-big my-3"
            id="password-validate"
            type="password"
            placeholder="Enter password again"
          />
        </form>
        <p id="password-output"></p>

        <script src="/js/validator.js"></script>
      </div>
    </main>
  </body>
</html>
