<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: 'Message'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Send</a></li>
        <li><a>List</a></li>
      </ul>
    </div>

    <main class="section">
      <form action="/message/send" method="POST">
        <div class="field">
          <label for="" class="label">Enter your name</label>
          <input type="text" name="name" id="" class="input" />
        </div>
        <div class="field">
          <label for="" class="label">Enter your mail</label>
          <input type="mail" name="mail" id="" class="input" />
        </div>
        <div class="field">
          <label for="" class="label">Enter your message</label>
          <textarea name="message" id="" class="input"></textarea>
        </div>
        <div class="control">
          <button class="button is-info">Sumbit</button>
        </div>
      </form>
    </main>
  </body>
</html>
