<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: 'Questions'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>
    <nav class="navbar is-spaced">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="/labs/lab6" class="navbar-item">Password Validator</a>
          <a href="/labs/lab6/shop" class="navbar-item">Shop</a>
          <a href="#" class="navbar-item">Questions</a>
        </div>
      </div>
    </nav>
    <section class="section content">
      <h1>Preguntas del Lab</h1>
      <ol>
        <li>
          ¿Por qué es una buena práctica usar JavaScript para checar que sean
          válidos los inputs de las formas antes de enviar los datos al
          servidor?
          <p>
            Sirve como seguridad, para saber que el usuario está introduciendo
            información segura y además, para poder validar las respuestas sin
            esperar la respuesta del servidor
          </p>
        </li>
        <li>
          ¿Cómo puedes saltarte la seguridad de validaciones hechas con
          JavaScript?
          <p>Desactivando JS del navegador</p>
        </li>
        <li>
          Si te puedes saltar la seguridad de las validaciones de JavaScript,
          entonces ¿por qué la primera pregunta dice que es una buena práctica?
          <p>
            Porque la mayoría de los usuarios no saben hacerlo, por lo que habrá
            muchas solicitudes al servidor que pueden ser ahorradas por JS.
          </p>
        </li>
        <li>
          Describe el archivo package.json
          <p>
            Es el paquete que guarda las dependencias, sus versiones y los
            scripts del proyecto, asi como su licencia y autoria
          </p>
        </li>
        <li>
          ¿Qué otros templating engines existen para node?
          <p>Pug, handlebars</p>
        </li>
        <li>
          Ventajas y desventajas de MVC
          <p>
            Puede tener una curva de aprendizaje alta, pero le da estructura y
            organizacion al proyecto
          </p>
        </li>
      </ol>
      <h2>Fuentes</h2>
      <ul>
        <li>
          https://uniwebsidad.com/libros/javascript/capitulo-7/validacion#:~:text=La%20principal%20utilidad%20de%20JavaScript,datos%20insertados%20por%20el%20usuario.
        </li>
      </ul>
    </section>
  </body>
</html>
