<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: 'Register'}) %>
  <body>
    <%- include('includes/navbar.ejs') %>

    <main class="section">
      <form action="/user/signup" method="POST">
        <h1 class="title">Sign In</h1>
        <div class="field">
          <label for="" class="label">Enter your name</label>
          <input type="text" name="name" id="" class="input" />
        </div>
        <div class="field">
          <label for="" class="label">Enter your mail</label>
          <input type="mail" name="username" id="" class="input" />
        </div>
        <div class="field">
          <label for="" class="label">Enter your password</label>
          <input type="password" name="password" id="" class="input" />
        </div>
        <div class="control">
          <button class="button is-info">Sumbit</button>
        </div>
      </form>
    </main>
  </body>
</html>
